<div class="btn-group" data-ng-class="{open: open}">
    <button class="btn">Filter by Salary</button>
    <button class="btn dropdown-toggle" data-ng-click="open=!open"><span class="caret"></span>

    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
        <div class="item" ng-repeat="item in items | orderObjectBy:'salary'">
            <td>{{$index + 1}}</td>
                <td><em>{{client.name}}</em>

                </td>
                <td>{{client.designation}}</td>
                <td>{{client.company.name}}</td>
                <td>{{client.salary}}</td>
    
        </div>
    </ul>
</div>