<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Infinite scroll in Angular js</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script type = "text/javascript" src = "redirect.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	  <script src="lib/angular/angular.js"></script>
    <script src="lib/scrollDirective/ng-infinite-scroll.min.js"></script>
    <script src="lib/bootstrap/bootstrap.min.js"></script>
	  <script src="app/app.js"></script>
  </head>
  <body> <!--ng-app="infiniteScroll">
	<div role="main" class="container theme-showcase" ng-controller="scrolling">
		<div class="main-wrapper">
			<div class="row" infinite-scroll='loadMore()'>
				<div class="col-xs-6 col-md-3" ng-repeat="imgid in images">
					<a class="thumbnail">-->
          <div class="col-xs-6 col-md-3" ng-repeat="imgid in images">
						<img src="{{imgid.img}}" alt="{{imgid}}" onclick="Redirect()">
          </div>
				<!--	</a>
				</div>
			</div>
	    </div>
    </div>-->
  </body>
</html>
